@media(min-width: 1025px) 
{
    .btnMenu{
        right: 40px;
        top: 20px;
    }

    /* --------------------------------------------------------------- */

    .MenuAll{
        justify-content: space-evenly;
    }

    /* --------------------------------------------------------------- */


    .logo{
        top: 40px;
        left: 40px;
    }

    .description{
        padding: 0px 70px;
        width: 50%;
        flex-direction: column;
    }
    .description div{
        width: 100%;
    }

    .ilustracao{
        border-radius: 40px 0px 0px 40px;
        height: 100%;
        width: 40%;
        right: 0;

    }
    .ilustracao::before{
        opacity: 0;
        top: 0;
        transition: .5s;
    }

    /* --------------------------------------------------------------- */

    #Projects{
        flex-direction: row;
       }
    
       .areaScrollProjetos{
        height: 80%;
        width: 40%;       }
    

    /* --------------------------------------------------------------- */

    #Contato{
        gap: 60px;
    }

    .descriptionContact{
        font-size: 1.5em;
        text-indent: 0px;
    }

    .contatoCelular{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 60px;
        width: 100%;
    }

    .contatoCelular .email{
        font-size: 1.5em;
    }

    .contatoCelular .celular{
        font-size: 1.5em;
        display: inline;
    }
    /* --------------------------------------------------------------- */
    #Observacoes{
        height: 20vh;
    }

    .ultimoPar p {
        width: 100%;
    }
    /* --------------------------------------------------------------- */
    @media (max-height: 450px){
        .logo{
            opacity: 0;
        }
    }
}
