@charset "UTF-8";


#home h1{
    font-size: 32px;
    font-weight: 900;
}
#home h2 {
    font-size: 28px;
    font: 500;
}
#home p {
    font-size: 22px;
    font-weight: 400;
}
.descricao-perfil{
    width: 600px;
}


.sobreMim-fundo p{
    font-size: 22px;
}
.sobreMim-fundo{
 width: 80%;
}



#redes-sociais{
    margin-top: 100px;
}
#contato > #redes-sociais > ul{
    font-size: 22px;
  }

#contato .descricao-contato  p{
    font-size: 22px;
}

#contato .descricao-contato  h1{
    font-size: 24px;
}