@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap');

:root{
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #e4e4e4;
    --corPrimaria: #93E56E;
    --corSecundaria: #D1FA63;
    --corClara: #B0AAFF;
    --corNeutra: #5B48A3;
    --corEscura: #1C0261;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    transition: width 1.5s, height 1.5s;
}

body{
    overflow-y: scroll;
}

header{
    position: fixed;
    background: transparent;
    display: flex;
    gap: 20px;
    width: 0px;
    z-index: 10;
}
.nav{
    border: 2px solid var(--cinza);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: var(--cinza);
    transform: translateX(-210px);
    transition: .5s;
    height: 100vh;
}
.nav a{
    color: var(--preto);
    text-decoration: none;
    font-size: 28px;
    font-weight: 500;
}
header span{
    height: 10px;
}
header span i {
    font-size: 32px;
    font-weight: 500;
    padding: 20px;
    cursor: pointer;
    transform: translateX(-180px);
    transition: .5s;
    color: var(--cinza);
    text-shadow: 2px 2px 0px #000000;
}
 span.active i{
    transform: translateX(-25px);
    cursor: pointer;
}
 .nav.active {
    transform: translateX(0);
}
/* --------------------------main---------------------- */
main{
    height:100vh;
}
/* -----------------------------home------------------------ */
#home{
    background: url(../images/background_home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: justify;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: var(--cinza);
    scroll-snap-align: start;
}
#home .foto{
    background: url(../images/minhaFoto.jpg) no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#home h1{
    font-size: 28px;
    font-weight: 900;
}
#home h2 {
    font-size: 24px;
    font: 500;
}
#home p {
    font-size: 18px;
    font-weight: 400;
}

/* ----------------------------Sobre mim------------------- */

#sobreMim{
    height: 100vh;
    scroll-snap-align: start;
    background: var(--cinza);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.sobreMim-fundo{
    padding: 10px;
    background: var(--branco);
    border-radius: 20px;
}

.sobreMim-fundo p{
    text-align:justify;
    font-size: 16px;
    font-weight: 400;
    color: var(--preto);
}

/* ---------------------Projetos---------------------- */
#projetos{
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backgroundProjetos{
    background: url(../images/fundoRoxo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 100vh;
    width: 100vw;
    filter: blur(2px);
}
.contentProjetos{
    position: absolute;
    width: 80%;
    height: 90%;
    background: url(../images/fundoRoxo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--corNeutra);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.contentProjetos h3{
    color: var(--cinza);
}
.areaProjetos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.areaProjetos a{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    transition: .5s;
}
.areaProjetos a:hover{
    transform: scale(0.9);
    box-shadow: none;
}
.primeiroProjeto{
    background: #eb982c;
    color: var(--cinza);
    border: 2px solid var(--cinza);
    box-shadow: 5px 5px 10px #00000040;
}
.segundoProjeto{
    background: var(--corClara);
    color: var(--preto);
    border: 2px solid var(--cinza);
    box-shadow: 5px 5px 10px #00000040;
}
.terceiroProjeto{
    background: var(--corPrimaria);
    color: var(--preto);
    border: 2px solid var(--cinza);
    box-shadow: 5px 5px 10px #00000040;
}

/* -------------------contato----------------------- */
#contato{
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background: url(../images/fundoRedesSociais.jpg);
    background-position: center;
    background-size: cover;
}
#redes-sociais{
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: 140px;
    text-align: center;
}
#contato > #redes-sociais > ul{
  position:relative;
  transform:skewY(-15deg);
  font-size: 18px;
}
#contato > #redes-sociais > ul li{
  position: relative;
  list-style: none;
  width: 130px;
  background: #3e3f46;
  padding: 15px;
  transition: 0.6s;
  z-index: var(--i);
}
#contato > #redes-sociais > ul li:hover{
  transform: translateX(-20px);
  background: var(--clr)
    
}
#contato > #redes-sociais > ul li::before{
  content:'';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #3e3f46;
  filter: brightness(0.7);
  transform-origin: right;
  transform: skewY(45deg);
  
  transition:0.5s;
}
#contato > #redes-sociais >  ul li:hover::before{
  background: var(--clr);
  filter: brightness(0.7);
}
#contato > #redes-sociais >  ul li::after{
  content:'';
  position:absolute;
  top: -40px;
  left: 0px ;
  width:100%;
  height: 40px;
  background: #3e3f46;
  filter: brightness(0.9);
  transform-origin:bottom;
  transform: skewx(45deg);
  transition: 0.5s;
}
#contato > #redes-sociais >  ul li:hover::after{
  background: var(--clr);
  filter: brightness(0.9);
}
#contato > #redes-sociais >  ul a {
  text-decoration:none;
  color:#999;
  display: block;
  text-transform:uppercase;
  transition:0.5s;
}
#contato > #redes-sociais >  ul a li:hover{
  color:#fff;
}
#contato > #redes-sociais > ul a li span{
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  transform-origin: right;
  transform: skewY(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  font-size:1.25em;
  
  transition:0.5s;
}
#contato > #redes-sociais >  ul a li:hover span{
  opacity: 1;
}

.descricao-contato{
    text-align: center;
    font-weight: 700;
    width: 100vw;
    padding: 30px;
}
#contato .descricao-contato  h1, p{
    color: #fff;
}
#contato .descricao-contato  h1{
    font-size: 20px;
    text-shadow: 3px 3px 3px #000;
}
#contato .descricao-contato  p{
    text-align: justify;
    text-indent: 40px;
    font-size: 16px;
}